* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    color: black;
    background: white;
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 14%;
    z-index: 1000;
    transition: all .35s ease;
}

.logo img {
    max-width: 100%;
    width: 60px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar a {
    font-size: 22px;
    color: black;
    padding: 10px 28px;
    font-weight: 500;
    transition: all .35s ease;
    font-family: 'Open Sans', sans-serif;
}

.navbar a:hover {
    color: #FF0067;
}

.navbar a.active {
    color: #FF0067;
}

#menu-icon {
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color: #FF0067;
}

section {
    padding: 200px 16%;
}

.home {
    height: 87vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.home-text h1 {
    margin: 20px 0px 20px;
    font-size: 42px;
    line-height: 1.1;
}

span {
    color: #FF0067;
}

.home-text h3 {
    color: #FF0067;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25em;
}

.home-text p {
    font-size: 16px;
    color: #646E80;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.btn {
    display: inline-block;
    background: #FF0067;
    color: #fff;
    padding: 17px 32px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    transition: all .5s ease;
}

.btn:hover {
    background-color: rgba(162, 162, 244, 0.811);
}

.home-img {
    width: 100%;
    height: auto;
}

.section-about {
    background-color: rgb(246, 245, 255);
    max-width: 100%;
    padding: 170px 20%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: -4rem;

}

.about-sessao1 h3 {
    color: #FF0067;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25em;

}

.about-sessao1 h2 {
    margin: 20px 0px 20px;
    font-size: 35px;
    letter-spacing: -0.05em;
    line-height: 45px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.about-sessao2 p {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    line-height: 24px;
    color: #646E80;
}

.btn2 {
    display: inline-block;
    background: #FF0067;
    color: #fff;
    padding: 17px 32px;
    margin-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    transition: all .5s ease;
}

.btn2:hover {
    background-color: rgba(162, 162, 244, 0.811);
}

/* Controle do scroll através do JavaScript */
header.sticky {
    background: #fff;
    padding: 12px 18%;
    box-shadow: 0px 0px 1px #13084982;
}

.skill-text h3 {
    color: #FF0067;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.skill-text h2 {
    margin: 20px 0px 20px;
    text-align: center;
    font-size: 35px;
    letter-spacing: -0.05em;
    line-height: 45px;
    font-family: 'Poppins', sans-serif;
}

.box-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding-top: 30px;
}

.box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 20px;
    gap: 90px;
}

.box-content {
    display: flex;
    flex-direction: column;
}

.box-img img,
h2 {
    margin-bottom: 20px;
}

.box-text p {
    line-height: 30px;
    color: #646E80;
    font-weight: bold;
    font-size: 1rem;
}

.portfolio {
    padding: 140px 16%;
}

.portfolio-text h3 {
    color: #FF0067;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.portfolio-text h2 {
    margin: 20px 0px 20px;
    text-align: center;
    font-size: 35px;
    letter-spacing: -0.05em;
    line-height: 45px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}

.portfolio-img img {
    width: 20rem;
    height: auto;
}

.portfolio-box {
    align-items: center;
    padding: 15px 50px 15px 50px;
    background: #fff;
    box-shadow: 0px 5px 40px rgb(19 8 79 / 13%);
    border-radius: 20px;
    transition: all .40s ease;
}

.portfolio-box:hover {
    transform: scale(1.04) translate(-5px);
}

.portfolio-box-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.port-projetos {
    background-image: url(../img/f105e6_4e4ba18c7a58468ca8ee36b01a7bf166_mv2.webp);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.port-sessao2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
}

.port-texto h3 {
    color: #FF0067;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.port-texto h2 {
    margin: 20px 0px 20px;
    font-size: 45px;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: 45px;
}

.port-btn3 {
    display: inline-block;
    background: #FF0067;
    color: #fff;
    padding: 14px 32px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s ease;
}

.port-btn3:hover {
    background-color: rgba(162, 162, 244, 0.811);
}

.port-btn4 {
    margin-left: 16px;
    display: inline-block;
    background: transparent;
    color: #fff;
    padding: 14px 32px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s ease;
}

.port-btn4:hover {
    background-color: rgba(162, 162, 244, 0.811);
}


.qualification {
    padding: 160px 22%;

}

.qualification-conteudo {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    margin-top: 100px;
}

.qualification-text {
    line-height: 30px;
    position: relative;
}

.qualification-text-titulo h3 {
    color: #FF0067;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.qualification-text-titulo h2 {
    margin: 20px 0px 20px;
    font-size: 35px;
    letter-spacing: -0.05em;
    line-height: 45px;
}

.qualification-text::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #f3659ea9;
    position: absolute;
    left: -40px;
    top: 8px;
}

.qualification-text h2 {
    margin: 20px 0px 20px;
    font-size: 35px;
    letter-spacing: -0.05em;
    line-height: 45px;
}

.qualification-text h3 {
    color: #FF0067;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.qualification-text h4 {
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.qualification-text p {
    margin-bottom: 30px;
}

.qualification-img img {
    width: 100%;
    height: auto;
}

.qualification-icons {
    padding: 110px 22%;
}

.box-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    border-top: 1px solid #dad5d2;
    border-bottom: 1px solid #dad5d2;
    padding: 40px 0px 40px 0px;
}

.box-icon img {
    width: 60%;
    height: 9vh;
}

.box-icon h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.box-icon p {
    line-height: 10px;
    color: #646E80;
    font-weight: bold;
    font-size: 0.9rem;
}

.testimonial {
    padding: 130px 20%;
}

.testimonial-text h3 {
    color: #FF0067;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin-bottom: 40px;
}

.testimonial-text h4 {
    line-height: 30px;
    padding-bottom: 40px;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.05em;
    font-family: 'Poppins', sans-serif;
}

.testimonial-box-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 3rem;
}

.testimonial-box-content img {
    width: 20em;
    height: 38vh;
}

.contact {
    padding: 50px 30%;
    background-color: rgb(246, 245, 255);
    max-width: 100%;
}

.contact-text h3 {
    color: #FF0067;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin-bottom: 30px;
    text-align: center;
}

.contact-text h4 {
    line-height: 20px;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contact-conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

.contact-info h2 {
    font-size: 26px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
}

.contact-link {
    font-size: 18px;
    line-height: 3rem;
    color: #646E89;
    font-weight: 600;
}

.img-icons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.contact-midia {
    padding-top: 60px;
}

.contact-form fieldset {
    border: none;
    padding-top: 140px;
}

.btn-contact {
    display: inline-block;
    background: #FF0067;
    color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s ease;
}

.btn-contact:hover {
    background-color: rgba(162, 162, 244, 0.811);
    color: #FF0067;
}


.label-contact {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
}

.contact-input {
    background-color: white;
    transition: all .2s ease;
    text-align: start;
    padding: 10px;
    border: solid 0.1px gray;
    border-radius: 10px;
}

.contact-input:hover {
    background-color: rgba(162, 162, 244, 0.811);
}

.label-contact label {
    line-height: 30px;
}

.footer {
    width: 100%;
    background: rgb(2, 2, 56);
    height: 45vh;
    color: #fff;

    display: flex;
    justify-content: space-around;
    padding-top: 60px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center; */
    padding: 70px 18%;
}

.footer-logo img {
    margin-bottom: 40px;
    width: 4vw;
    height: auto;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.1em;
    color: #646E80;
    font-weight: bold;
}

.footer-contact {
    display: flex;
    gap: 60px;
}

.footer-icons {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 20px;
}

.footer-icons img {
    width: 2vw;

}

.footer-title h2 {
    margin-bottom: 50px;
    line-height: 1.1em;
    font-size: 30px;
}

.footer-contact h3 {
    color: #FF0067;
    font-size: 14px;
    padding-bottom: 10px;
}

/* Reposividade */

@media (max-widdth: 1640px) {
    .home {
        height: 80vh;
        padding-top: 100px;
    }

    header {
        padding: 14px 3%;
        transition: .3s;
    }

    header.sticky {
        padding: 10px 3%;
        transition: .3s;
    }

    section {
        padding: 70px 3%;
        transition: .3s;
    }
}

@media (max-width: 1110px) {
    #menu-icon {
        display: block;
    }

    .top-btn {
        display: none;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: rgb(255, 255, 255);
        align-items: flex-start;
        box-shadow: 0px 0px 1px #13084982;
        transition: all .40s ease;
    }

    .navbar a {
        display: block;
        padding: 0.8rem;
        margin: 0.5rem;
    }

    .navbar.open {
        top: 100%;
    }
}

@media (max-width: 1090px) {
    :root {
        --font-grande: 3.7rem;
        --font-h2: 2.6rem;
        --font-p: 1rem;
        transition: .3s;
    }
}

@media (max-width: 860px) {
    .home {
        height: 75vh;
        padding-top: 100px;
    }

    section {
        padding: 80px 3%;
    }

    :root {
        --font-grande: 3.2rem;
        --font-h2: 2.2rem;
    }
}

@media (max-width: 760px) {
    .home {
        grid-template-columns: 1fr;
        height: 100vh;
        grid-gap: 1rem;
    }

    .home-text {
        text-align: center;
    }

    .home-img {
        text-align: center;
    }

    .home-img img {
        width: 400px;
        max-width: 100%;
        height: auto;
    }

    .about {
        padding-top: 30px;
        grid-template-columns: 1fr;
        /* height: 100vh; */
        grid-gap: 1rem;
        text-align: center;
    }

    .btn2 {
        margin-bottom: 20px;
    }

    section {
        padding: 65px 3%;
        transition: .3s;
    }

    .skill {
        text-align: center;
    }

    .box-text p {
        display: none;
    }

    .portfolio-img {
        width: 100%;
        height: auto;
    }

    .portfolio-box {
        align-items: center;
        background: #fff;

        border-radius: 20px;
        transition: all .40s ease;
    }
    .portfolio-box {
        align-items: center;
        padding: none;
        background: transparent;
        box-shadow: 0px 5px 10px rgb(19 8 79 / 12%);
        border-radius: 18px;
        transition: all .40s ease;
    }

    .port-btn3 {
        margin-bottom: 30px;
    }

    .qualification-text {
        display: flex;
        flex-direction: column;
    }
    .qualification {
        text-align: center;
    }

    .qualification-text h3 {
        font-size: 12px;
    }

    .qualification-text p {
        font-size: 14px;
    }

    .qualification-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-icon {
        width: 100px;
        height: 18vh;
    }

    .box-icon img {
        width: 40px;
        margin-bottom: 10px;
    }

    .box-icon h2,
    p {
        font-size: 14px;
        align-items: center;
    }

    .box-icon p {
        line-height: 20px;
    }

    .box-icons {
        gap: 20px;
    }
    
    .testimonial {
        text-align: center;
    }

    .testimonial-box-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial-box-content img {
        width: 18rem;
        height: auto;
        gap:8px;
    }

    .contact i {
        display: none;
    }

    .contact {
        align-items: center;
        padding: 65px 3%;
        transition: .3s;
    }

    .footer {
     
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-gap: 1rem;
        align-items: center;
        text-align: center;
        transition: all .40s ease;
    }
    .footer-logo img {
        width: 50px;
        height: auto;
    }
    .footer-icons a {
        align-items: center;
        
    }
    .footer-icons {
        padding-left: 130px;
    }
    .footer-icons img {
        width: 40px;
    }
    

    .footer-title h2 {
        font-size: 18px;
    }

    .footer-logo p {
        font-size: 15px;
        color: white;
        font-weight: 200;
    }
    .footer-contact {
        display: none;
    }
   
}