* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}